* {
    box-sizing:border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
}
  
  .nav {
    height: 53px;
    width: 100%;
    background-color: #1177ca;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
  }
  /*to be appear in phones*/
  .nav > .nav-btn {
    display: none;
  }
  .nav{
	  position:fixed;
  }
  .nav > .nav-links {
    display: inline;
    float: right;
	justify-content:right;
    font-size: 18px;
	height:50px;
  }
  .nav > .nav-links > ul li a{
    display: block;
    padding: 0 8px;
    color: #fff;
    line-height: 38px;
    font-size: 18px;
    text-decoration: none;

  }
  .nav > .nav-links > ul{
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
    
  }
  .nav > .nav-links > ul li{
    display: inline-block;
    background-color: #1177ca;
    
    
  }
  .nav > .nav-links > ul li:hover{
      background-color: #0b65af;
      border-radius: 5px;
  }
  
  .nav > #nav-check {
    display: none;
  }

 .nav .nav-links ul a.icon{
 margin-left: 80px;
 margin-right: 10px;
 }

 .nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
 }



 .container{
	 box-sizing:border-box;
	 width:100%;
 }
 .container div{
	 display:flex;
	 justify-content:center;
 }
 .container div ul li{
	 list-style:none;
 }
.links{
	flex-direction:column;
	width:80%;
	margin:auto;
}
#foot{
	padding:0px 0px;
	text-align:center;
	flex-direction:column;
}
pre,code{
	font-size:1.2em;
	 
}
pre{
	  overflow-x: auto;
}
table,tr,th,td{
	border:1px solid black;
	border-collapse:collapse;
}

  @media (max-width:750px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
	  right:20px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > ul li a {
      display: block;
      width: 100%;
    }

      .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: #333;
         
      }
      .nav > .nav-links > ul li a{
          margin-left: 40%;
      }
      .nav .nav-links ul a.icon{
        margin-left: 33%;
      }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
	.footer{
		padding-left:10px;
		padding-right:10px;
	 
	}
	
 .container div ul li{
	 list-style:none;
 }
  }

@media (max-width:480px){
	.container div{
	
	flex-direction:column;
	justify-content:center;
	 
 }
}

